<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <!-- Mobile Metas -->
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <!-- Site Metas -->
  <link href="../images/Favicons/{FAVICON_HERE}" rel="shortcut icon" type="">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="FAQ for the Wesgreen 2024 Hackathon" name="description">
  <meta content="Wesgreen Hackathon, Student-led Hackathon, Coding Competition, Hackathon 2024, Wesgreen International School, Muwailah Hackathon, Student Coding Event, Programming Contest, Tech Competition, Hackathon Registration, Hackathon Prizes, Hackathon Schedule, Hackathon Venue, Hackathon Sponsors, Hackathon FAQ, Hackathon Volunteers, Coding Challenge, Tech Event for Students, Hackathon Countdown, Hackathon Theme Reveal"
        name="keywords">

  <title>WES:HACK - {TYPE OF WEBSITE}</title>

  <!-- Bootstrap core CSS -->
  <link href="/Website/css/bootstrap.css" rel="stylesheet" type="text/css"/>

  <!-- Fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!-- Owl slider stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet"
        type="text/css"/>

  <!-- Font awesome style -->
  <link href="/Website/css/font-awesome.min.css" rel="stylesheet"/>

  <!-- Custom styles for this template -->
  <link href="/Website/css/style.css" rel="stylesheet"/>
  <!-- Responsive style -->
  <link href="/Website/css/responsive.css" rel="stylesheet"/>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "Wes:Hack",
      "url": "https://www.weshack.me",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.yourwebsite.com/search?q=weshack",
        "query-input": "required name=wesgreen hackathon"
      }
    }
  </script>
</head>

<body class="sub_page">

<!-- Header Section -->
<header class="header_section" style="background-color: #231a6f;">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" href="../index.html">
        <span>WES:HACK</span>
      </a>

      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
              class="navbar-toggler"
              data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class=""></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--  active given to highlighted page-->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Website/prizes.html">Prizes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Website/venue.html">Venue</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Website/schedule.html">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Website/sponsors.html">Sponsors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Website/faq.html">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Website/volunteer.login.html">Volunteers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Website/volunteers.team.html">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Website/rules.html">Rules</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- End Header Section -->


<!-- Your Web Section -->

</body>
</html>
