body {
    background: black;
    color: lime;
    font-family: "Courier New", Courier, monospace;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.matrix {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.matrix span {
    position: absolute;
    top: 0;
    white-space: nowrap;
    color: rgba(0, 255, 0, 0.8);
    font-size: 20px;
    animation: rain 0.5s linear infinite;
}

.matrix .char {
    width: 20px;
    height: 20px;
    animation: flicker 1s infinite;
}

.hidden-message,
.info-container {
    border: 2px solid black;
    padding: 10px;
    z-index: 1;
    position: absolute;
    color: red;
    text-align: center;
}

.hidden-message {
    display: none;
    font-size: 24px;
}

.info-container {
    font-size: 20px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.ip-address,
.location {
    font-weight: bold;
    color: red;
}

.ip-address {
    font-size: 21px;
    margin-top: 20px;
}

.location {
    font-size: 17px;
    margin-top: 10px;
}

@keyframes flicker {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes rain {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}