body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f5;
}

.hackathon-rules {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 900px;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

h2, h3, h4 {
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
    background-color: #34495e;
    color: #fff;
    border-radius: 5px;
    position: relative;
}

h2::after, h3::after, h4::after {
    content: '\f0dd';
    font-family: FontAwesome, sans-serif;
    position: absolute;
    right: 20px;
    font-size: 18px;
    transition: transform 0.3s ease;
}

h2.active::after, h3.active::after, h4.active::after {
    transform: rotate(180deg);
}

ul {
    margin-left: 20px;
}

.content {
    display: none;
    padding-left: 15px;
}

.content.show {
    display: block;
}