body {
    background-color: #00204a;
}

.sponsors_section {
    padding: 50px 0;
}

.heading_center {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.sponsor-logo {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.sponsor-table {
    width: 100%;
    text-align: center;
    color: white;
    border-spacing: 30px; /* Added spacing between cells */
    margin-bottom: 30px; /* Added margin below the table */
}

.sponsor-table td {
    width: 100%; /* Default width for mobile devices */
    padding: 20px;
    vertical-align: top;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Added margin between cells */
    display: inline-block; /* Added to ensure spacing */
}

.sponsor-table h4 {
    color: #333;
}

.sponsor-table p {
    color: #666;
}

.hover-expand {
    transform: scale(1);
    transition: transform 0.5s ease;
}

.hover-expand:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

@media (min-width: 768px) {
    .sponsor-table td {
        width: 45%; /* Fixed width for table cells on larger screens */
    }
}
