.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.schedule-table th,
.schedule-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.schedule-table th {
    background-color: #003eff;
    color: white;
}

.schedule-table td {
    background-color: #ffffff;
}

.error-message {
    color: red;
    font-size: 0.875em;
    display: none;
    margin-top: 10px;
}